.connections-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: min(90vw, 600px);
}

.tile {
  aspect-ratio: 1.25 / 1;        
  background-color: #efefe6;     
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.03em;

  cursor: pointer;
  user-select: none;

  transition: 
    background-color 0.12s ease,
    transform 0.08s ease;
}

.selectedTile {
  aspect-ratio: 1.25 / 1;        
  background-color: rgb(155, 155, 155);    
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.03em;
  color: white;

  cursor: pointer;
  user-select: none;

  transition: 
    background-color 0.12s ease,
    transform 0.08s ease;
}

.tile:hover {
  background-color: #e5e5db;
  transform: translateY(-1px);
}

.selectedTile:hover {
  background-color: rgb(165, 165, 165);
  transform: translateY(-1px);
}

.tile:active {
  transform: scale(0.97);
}

.selectedTtile:active {
  transform: scale(0.97);
}
