.connections-page {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}
.title {
  font-size: 3rem;          
  font-weight: bold;
  margin-bottom: 100px;      
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: min(90vw, 650px);
}

.tile {
  color: red;
  aspect-ratio: 1.4 / 1;        
  background-color: #e7e7e0;     
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.03em;

  cursor: pointer;
  user-select: none;

  transition: 
    background-color 0.12s ease,
    transform 0.08s ease;
}

.selectedTile {
  aspect-ratio: 1.4 / 1;        
  background-color: rgb(155, 155, 155);    
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.03em;
  color: white;

  cursor: pointer;
  user-select: none;

  transition: 
    background-color 0.12s ease,
    transform 0.08s ease;
}

.tile:hover {
  background-color: #dadad0;
  transform: translateY(-1px);
}

.selectedTile:hover {
  background-color: rgb(165, 165, 165);
  transform: translateY(-1px);
}

.tile:active {
  transform: scale(0.97);
}

.selectedTtile:active {
  transform: scale(0.97);
}

.lives {
  display: flex;
  gap: 10px;
  margin-top: 6px;
}

.life {
  position: relative;
  width: 14px;
  height: 14px;
  transform: rotate(-45deg);
  background-color: #ff4d6d;   
}

.life::before,
.life::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ff4d6d;
  border-radius: 50%;
}

.life::before {
  top: -7px;
  left: 0;
}

.life::after {
  left: 7px;
  top: 0;
}

.solution-box {
  width: 618px;
  height:85px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;               
  font-family: system-ui, sans-serif;
}

.solution-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  font-size: 1rem;
}

.solution-words {
  display: flex;
  justify-content: space-between;
}

.solution-word {
  background-color: rgba(255,255,255,0.3);  /* slightly transparent for contrast */
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  flex: 1;
  margin: 0 2px;
}

